

#nav {
    margin:0;
    padding:0;
    list-style:none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29a148',endColorstr='#096233',GradientType=0);
}     

    #nav li {
        float:left;
        display:block;
        width:200px;
        position:relative;
        margin:0 1px;
  		border-radius: 0px;
  		background: linear-gradient(#29a148, #096233); 	
    }  

    #nav li a {
        display:block;
        padding:5px 8px 0 5px;
        font-weight:600;
        height:15px;
        text-decoration:none;
        text-align:center;
    }  

    #nav li a:hover {
        color:#fff;
    }  

    #nav a.selected {
        color:#fff;
    }  

        #nav ul {
            position:absolute;
            left:0;
            display:none;
            margin:0 0 0 -1px;
            padding:0;
            list-style:none;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29a148',endColorstr='#096233',GradientType=0);
        }  

        #nav ul li {
            width:200px;
            float:left;
            border-top:1px solid #fff;
        }  
 
        #nav ul a {
            display:block;
            height:15px;
            padding: 3px 0px;
        }  

        #nav ul a:hover {
            text-decoration:underline;
        }  

/* IE6 fix */
*html #nav ul {
    margin:0 0 0 -2px;
}